<h3><center>Week 1 Assignment </center></h3>



<h4><center>Irisha kayastha</center></h4>
<h4><center>Presidential Graduate School</center></h4>
<h4><center>PRG 330: Python Programming with Data</center></h4>
<h4><center>Prof. Tek Raj Pant </center></h4>
<h4><center>October 27, 2024</center></h4>

In [76]:
hello = "hello world"
print(hello)
a = 5
b = 10

hello world

# Python number

In python, A fundamental Data Type used for carrying out numerical operations are numbers.

In [77]:
#int 
age = 30
#float
pi = 3.14
print(pi)

3.14

# Arithmetic operation

Python provides Arithmetic operations to perform basic math on numbers and can be easily used for any other calculation. Like in below code it is used to find and print additon, subtraction, product, division and modulos.

In [8]:
a = 2
b = 1
addition_a = a+b
subtraction = a-b
product = a*b
division= a/b 
mod= a%b #modulus
print(addition_a)
print(subtraction)
print(product)
print(division)
print(mod)

3
1
2
2.0
0

# String in python

Strings are used to represent the text. This code uses string indexing and slicing to break down "Irisha kayastha" into the first name ("Irisha") and last name ("kayastha"). It slices off a part of the name and accesses them by index, combining them to display. It get access to specific characters such as the first and the fifth characters as shown.

In [13]:
name = "Irisha kayastha"
print(name)
total_no_of_chars = len(name)
print(total_no_of_chars)
first_char =name[0]
print(first_char)
fifth_char = name[4]
print(fifth_char)
last_char = name[len(name)-1]
print(last_char)
first_name = name[0:6] 
last_name = name[7:]
print("full name:", first_name,last_name)

Irisha kayastha
15
I
h
a
full name: Irisha kayastha

In [22]:
name = "shruti laxmi shrestha"
first_name = name[0:6]
middle_name = name[7:12]
last_name = name[13:]
print(first_name, middle_name, last_name)

shruti laxmi shrestha

# Boolean

Boolean is data type that represnt one of two values like either true or false according to below code.

In [ ]:
passed = true
failed = false

# Conditional statement

Conditional statements help you to execute the code you choose when the condition meets. There are three main conditional statements in python if, elseif and else. Like when code is run and 4 is entered then it print "I have to wake up at 5AM", "I have to go to office" and "It's wednesday" but if you enter 5 it prints test.

In [24]:
day = int(input('enter a day'))
if day == 4:
    print("I have to wake up at 5AM")
    print("I have to go to office")
    print("It's wednesday")
if day == 5:
    print('test')

I have to wake up at 5AM
I have to go to office
It's wednesday

In [26]:
day = int(input('enter a day'))
if day == 4:
    print("I have to wake up at 5AM")
    print("I have to go to office")
    print("It's wednesday")
elif day == 5:
    print('its week day')
else:
    print('its weekend')
print ('test')

its weekend
test

In [16]:
number = int(input ("enter number"))
if number % 2 ==0:
    print ("it is even number")
else:
    print ("it is odd")

it is even number

In [30]:
time = int(input("Enter time"))
if time >= 10 and time <12:
    print("Python class")
elif time >= 12 and time < 14:
    print("DSA class")
elif time >= 14 and time < 16:
    print("English class")

Python class

In [27]:
city = input("Enter country name")
if city.lower() == "nepal" or city.lower() == "india":
    print("The ticket price is 50")
else:
    print("Ticket price is 100")

The ticket price is 50

# While loop

While loop is used to execute a program until specified condition is true. Like when value of counter is 10 evertime "hello world" is printed until it beacme less than 0 while being subtracted from -1.

In [31]:
counter = 10
while counter > 0:
    print("Hello World")
    counter -=1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

# Sum of first natural number

Sum of first natural number is printed below where value is 5050.

In [33]:
n = 100 
sum = 0
for i in range(1, n + 1):
    sum += i
print(sum)

5050

# Sum of first natural even number

Sum of first natural even number is only printed below by applying code. The output is 2550.

In [32]:
n = 100
counter = 1
sum = 0 
while counter <= n:
    if counter % 2 == 0: 
        sum += counter
    counter += 1
print(sum)

2550

# Reverse the string

Reversing the string simply rearrange its character in thw opposite order like in code below reverse of"Kathmandu Nepal" which is lapeN udnamhtaK is printed.

In [34]:
address = "Kathmandu Nepal"
reverse_str = ""
index = len(address) - 1

while index >= 0: 
    reverse_str += address[index]
    index -= 1

print(reverse_str)

lapeN udnamhtaK

# List

List is used to store an ordered collection of items. Below the list numbers contains integers and the list students contains names. The code shows loading the list items, amount of total items based on len() and accessing the last item by using total amount of items.

In [2]:

numbers = [1,2,3,4,5,5,5]
students = ['Ram','hari']
#access elements from list
first_number =numbers[0]
print(first_number)
#count total number of items
total_item = len(numbers)
print(total_item)
#last element
last_element = numbers[total_item-1]
print(last_element)

1
7
5

In [8]:
numbers = [1,4,3,5,6,7,1,1]
print(numbers)
#append item
numbers.append(8)
print(numbers)
#remove last item
numbers.pop()
print(numbers)
#remove
numbers.remove(5)
print(numbers)
#insert
numbers.insert(2,10)
#count
print(numbers.count(1))

numbers_1 = [1,2]
numbers_2 = [3,4]
numbers_1.extend(numbers_2) #print(numbers_1+numbers_2)
print(numbers_1)
#clear
numbers_1.clear()
print(numbers_1)

[1, 4, 3, 5, 6, 7, 1, 1]
[1, 4, 3, 5, 6, 7, 1, 1, 8]
[1, 4, 3, 5, 6, 7, 1, 1]
[1, 4, 3, 6, 7, 1, 1]
3
[1, 2, 3, 4]
[]

In [12]:
a=5
b=a+1
print(a,b)

a=['ram','hari']
b=a.copy()
a.append ('gopal')
print(b)
#check value exist in list
if 'ram' in a:
    print('ram exist in a')

5 6
['ram', 'hari']
ram exist in a

In [13]:
a=5
b=a
b=a+1 #copy by value
print(a,b)

a=['ram','hari']
b=a #deep copy (copy by reference)
b=a.copy()
a.append ('gopal')
print(b)
#check value exist in list
if 'rama' in a:
    print('rama does not exist in a')

5 6
['ram', 'hari']

# Find the sum of all item in given list

While loop is used below to go through every item in the list and add it into varibale name "sum" to find out sum of all item in given list.

In [16]:

numebrs = [1,2,3,4,5,6,6]
total_items = len(numbers)
index=0
sum=0
while index<total_items:
    element = numbers[index]
    sum += element
    print(element)
    index+=1
print(sum)

1
4
10
3
6
7
1
1
33

# Find maximum value

In [41]:
numbers = [1, 2, 3, 4, 5, 6, 6]
total_items = len(numbers)
index = 0
max_value = numbers[0]

while index < total_items:
    if numbers[index] > max_value:  
        max_value = numbers[index]
    index += 1

print("max value is", max_value)

max value is 6

# Filter value

Filtering values in Python is to select some data from a list based on specific criteria. Here, we make a students list of the names Ram, Hari, and Gopal. So using list, we remove any student whose name is 'Ram'. 'Hari' and 'Gopal' is only printed.

In [35]:
students = ['Ram', 'Hari', 'Gopal']
filtered_students = [student for student in students if student != 'Ram']
print(filtered_students)

['Hari', 'Gopal']

# Creating a list of even number from the given list

From the list of given numbers only even is printed.

In [36]:
numbers = [1, 2, 3, 4, 6, 7, 8, 12, 11, 13, 14]
even_numbers = [number for number in numbers if number % 2 == 0]
print (even_numbers)

[2, 4, 6, 8, 12, 14]